TELEGRAM_BOT_TOKEN=
OPENAI_API_KEY=
RAPIDAPI_KEY=
JOB_CLASSIFICATION_PROMPT=
JOB_SEARCH_QUERY=
INIT_JOB_SEARCH_MAX_PAGES=
JOB_SEARCH_MAX_PAGES=
LOG_LEVEL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_DB=
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_REFRESH_TOKEN=
MICROSOFT_TODO_LIST_ID=
LANGSMITH_TRACING=
LANGSMITH_ENDPOINT=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=
MORNING_BRIEFING_GREETING=
MORNING_BRIEFING_WEATHER_LOCATION=